body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #080B14;
    font-family: "Space Grotesk";
}

.destaque {
    color: #00E5FF;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    border: solid 3px #00E5FF;
    border-radius: 10px;

}

.entrada {
    width: 200px;
    height: 20px;
    padding-bottom: 7px;
    border: solid 2px #4682B4;
    border-radius: 15px;
    background-color: #080B14;
    color: rgb(250, 250, 247);
}

.entrada:focus{
    border: solid 3px #00E5FF;
}

.label {
    display: block;
    margin-bottom: 3px;
}

.botao {
    display: block;
    margin-top: 12px;
    transition: 0.3s;
}

.botao:hover{
    background-color: #4B0082;
}

h2 {
    color: rgb(250, 250, 247);
}

form {
    color: rgb(214, 212, 210);
}